.input {
  width: 100%;
  padding: 14px 16px;
  font-size: 16px;
  border-radius: 12px;
  border: 1.5px solid black;
  background-color: #ffffff;
  color: #1f2933;
  transition: all 0.25s ease;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
}

.input::placeholder {
  color: #9ca3af;
  font-weight: 500;
}



.input:focus {
  outline: none;
  transform: translateY(-1px);
}

