.hero-slider {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.slider-track {
  display: flex;
  width: 100%;
  height: 100%;
}

.hero-slide {
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: start;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}


.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(13, 41, 55, 0.65);
}

.hero-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* align content to top */
  align-items: center;     /* align content to center */
  text-align: center;           /* text aligned to center */
  color: white;
  padding: 4rem;               /* optional: add more padding for spacing from top-left */
}

.hero-content h1 {
  font-size: 4rem; /* bigger title */
  margin-bottom: 1rem;
  line-height: 1.2;
}

.hero-content p {
  font-size: 1.3rem; /* slightly bigger description */
  max-width: 850px;
}

/* Arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  transition: 0.3s;
}

.arrow:hover {
  background: rgba(0, 0, 0, 0.7);
}

.arrow.left {
  left: 20px;
}

.arrow.right {
  right: 20px;
}

/* Mobile */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }
}
